git+https://github.com/openvinotoolkit/openvino_contrib.git@aiw-release#egg=openvino-optimum[all]&subdirectory=modules/optimum
torch==1.9.*
transformers<4.16.0
protobuf==3.19.5
seqeval
accelerate
datasets==2.2.1
openvino-dev==2022.2.0